---
// Smartphones.astro
import ProductCard from "../components/Product.astro";

const response = await fetch(
  "https://dummyjson.com/products/category/smartphones",
);
const data = await response.json();
---

<section class="catalog-banner">
  <h1>Catálogo de Smartphones</h1>
</section>

<section class="search-bar">
  <input
    type="text"
    id="searchInput"
    placeholder="Buscar smartphone por nombre..."
  />
</section>

<div id="noResults" class="no-results" style="display: none;">
  No se encontraron resultados.
</div>

<div class="product-grid">
  {data.products.map((product: any) => <ProductCard product={product} />)}
</div>

<link rel="stylesheet" href="/styles/style.css">
<script src="/scripts/script.js" defer></script>

